# Directories #
/build/
/bin/
target/
test-output

######################
# Eclipse
######################
 
*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# OS Files #
.DS_Store
 
*.class
 
# Package Files #
*.war
*.ear
*.db

# Custom Files #
config.properties

#####################
# Windows
######################
 
# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini

######################
# OSX
######################
 
.DS_Store
.svn
 
# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes
